version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/client"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "javascript"
    reviewers:
      - "keyflow-maintainers"
    open-pull-requests-limit: 5

  - package-ecosystem: "cargo"
    directory: "/server"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "rust"
    reviewers:
      - "keyflow-maintainers"
    open-pull-requests-limit: 5

